@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  background-color: snow;
  color: indigo;
  font-family: "Inter", sans-serif;
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading {
  font-weight: 400;
  font-style: italic;
}

h1 {
  font-variant: small-caps;
}
